* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
}

/* NAVBAR */
nav{
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01a3a4;
  padding-left: 20px;
  padding-right: 20px;
}

.logo a{
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
}

.nav-links li{
  color: #f1f2f6;
  list-style: none;
  margin-inline: 20px;
  cursor: pointer;
}

.nav-links a{
  color: #f1f2f6;
}

.burger{
  display: none;
  cursor: pointer;
}

.search{
  width: 100%;
  padding: 5px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  border: #808e9b 1px solid;
  border-radius: 25px;
}

.search input{
  width: 100%;
  margin-left: 10px;
  border: 0;
}

@media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 80px;
    top: 8vh;
    width: 15%;
    background-color: #01a3a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }

  .burger{
    display: block;
    color: #f1f2f6;
  }

  .search{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.nav-active{
  transform: translateX(0%);
}

.circle {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 25px;
  background-color: rgba(128,142,155,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle a{
  color: #01a3a4;
}

.circle img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.page{
  display: flex;
  flex-direction: row;
}

.groups{
  width: 75px;
  border-right: #f1f2f6 2px solid;
}

.group-links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.group{
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle
}

.groupname{
  display: none;
  color: #01a3a4;
  margin-left: 10px;
}

.members{
  display: none;
  color: #808e9b;
  margin-left: 10px;
}

@media screen and (min-width:1024px) {
  .group-links{
    align-items: flex-start;
  }

  .group-links li{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  .groupname{
    display: block;
    font-size: 18px;
  }

  .members{
    display: block;
    font-size: 10px;
  }

  .groups{
    width: 300px;
  }

}

.group-links li{
  margin: 15px;
  list-style: none;
  cursor: pointer;
  width: auto;
  display: flex;
}

.group-selected {
  background-color: #b3ffff;
}

.group-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.group-box:hover {
  transition: background-color 0s;
  background-color: #e9e9e9;

}

.search a{
  color: #808e9b;
}

/*segmented controls*/
.buttonGroup{
  display: flex;
  height: 5vh;
  align-items: center;
  margin: 2vh;
}

.buttonGroup > li{
  cursor: pointer;
  display: block;
  border: solid 1px #808e9b;
  border-left: none;
  text-align: center;
  color: #808e9b;
  font-size: 14px;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonGroup > li:first-child{
  border-left: solid 1px #808e9b;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.buttonGroup > li:last-child{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.buttonGroup > li.selected{
  background-color: #01a3a4;
  color: #fff;
}

.content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#chatdiv {
  height: 100%;
  margin: 10px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

#chat-message-container {
  padding: 25px;
  flex: 1;
}

#chat-send-container {
  margin-top: 10px;
  height: 40px;
  display: flex;
}

#chat-send-message {
  flex: 1;
}

.main-border {
  border: solid 1px #808e9b;
  border-radius: 25px;
  padding: 25px;
}

/* ---------- CALENDAR ---------- */

#calendardiv {
  height: 83vh;
  display: none;
  border: solid 1px #808e9b;
  border-radius: 25px;
  padding: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.calendar {
	/*text-align: center;*/
}

.calendar header {
	position: relative;
}

.calendar h2 {
	text-transform: uppercase;
}

.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
}

.calendar tbody {
	color: #7c8a95;
}

.calendar tbody td:hover {
	border: 2px solid #00addf;
}

.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
	color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
	border: 2px solid #cbd1d2;
}

.current-day {
	background: #00addf;
	color: #f9f9f9;
}

.event {
	cursor: pointer;
	position: relative;
}

.event:after {
	background: #00addf;
	border-radius: 50%;
	bottom: .5em;
	display: block;
	content: '';
	height: .5em;
	left: 50%;
	margin: -.25em 0 0 -.25em;
	position: absolute;
	width: .5em;
}

.event.current-day:after {
	background: #f9f9f9;
}

#tododiv{
  height: 83vh;
  display: none;
}

.icon{
  pointer-events: none;
}

/* ToDo list */
.todoWrapper{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 25px;
  border:1px solid #808e9b;
  text-align: center;
}

.todoHeader{

}

.todoList{
  list-style: none;
}

.todoListElem{
  cursor: pointer;
  width: auto;
  text-align: right;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  border:1px solid #808e9b;
}

.todoListElemText{
  float: left;
}

input[type="checkbox"]{
  position: relative;
}
input[type="checkbox"]:checked + label{
	text-decoration: line-through;
	color: rgba(0,0,0,.3);
}
