*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;

  text-decoration: none;
}

body{
  background-color: rgba(1, 163, 164, 0.4);
  overflow-x: hidden;
}

img{
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 50%;
  height: auto;
}

svg{
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

.text{
  position: absolute;
  top: 30%;
  right: 20%;
}

.text *{
 color: white;
}

.logonav {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.logonav a{
  cursor: pointer;
}

.logo{
  font-size: 80px;
  font-weight: 900;
}

.desc{
  font-size: 16px;
}

.button{
  margin-top: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 25px;
  position: relative;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

/* NAVBAR */
nav{
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

nav * {
  color: white;
}

.nav-links{
  display: flex;
  justify-content: space-around;
}

.nav-links li{
  margin-inline: 20px;
}

.nav-links li{
  color: #fff;
  list-style: none;
  cursor: pointer;
}

.icon{
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: rgb(196, 0, 0);
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 400px;
  position: relative;
  transition: all 5s ease-in-out;
  color: black;
}

.popup h2 {
  color: black;
  margin-bottom: 20px;
}

.popup .content {
  max-height: 30%;
  overflow: auto;

}

.popup .content input{
  width: 100%;
}

.button-main {
  width: 50%;
  background-color: rgb(0, 121, 26);
  color: #fff;
  padding: 10px;
}

.button-sec {

  color: black;
}

.popup .content *{
    margin-top: 10px;
}