*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  color: #fff;
  text-decoration: none;
}

body{
  background-color: rgba(1, 163, 164, 0.4);
  overflow-x: hidden;
}

img{
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 50%;
  height: auto;
}

svg{
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

.text{
  position: absolute;
  top: 30%;
  right: 20%;
}

.logonav {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.logonav a{
  cursor: pointer;
}

.logo{
  font-size: 80px;
  font-weight: 900;
}

.desc{
  font-size: 16px;
}

.button{
  margin-top: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 25px;
  position: relative;
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

/* NAVBAR */
nav{
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 25%;
}

.nav-links li{
  color: #fff;
  list-style: none;
  cursor: pointer;
}

.icon{
  pointer-events: none;
}
