* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
}

/* NAVBAR */
nav{
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01a3a4;
  padding-left: 20px;
  padding-right: 20px;
}

.logo a{
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
}

.nav-links li{
  color: #f1f2f6;
  list-style: none;
  margin-inline: 20px;
  cursor: pointer;
}

.nav-links a{
  color: #f1f2f6;
}

.burger{
  display: none;
  cursor: pointer;
}

.search{
  width: 100%;
  padding: 5px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  border: #808e9b 1px solid;
  border-radius: 25px;
}

.search input{
  width: 100%;
  margin-left: 10px;
  border: 0;
}

@media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 80px;
    top: 8vh;
    width: 15%;
    background-color: #01a3a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }

  .burger{
    display: block;
    color: #f1f2f6;
  }

  .search{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.nav-active{
  transform: translateX(0%);
}

.circle {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 25px;
  background-color: rgba(128,142,155,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle a{
  color: #01a3a4;
}

.circle img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.page{
  display: flex;
  flex-direction: row;
}

.groups{
  width: 75px;
  border-right: #f1f2f6 2px solid;
}

.group-links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.group{
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle 
}

.groupname{
  display: none;
  color: #01a3a4;
  margin-left: 10px;
}

.members{
  display: none;
  color: #808e9b;
  margin-left: 10px;
}

@media screen and (min-width:1024px) {
  .group-links{
    align-items: flex-start;
  }

  .group-links li{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  .groupname{
    display: block;
    font-size: 18px;
  }

  .members{
    display: block;
    font-size: 10px;
  }

  .groups{
    width: 300px;
  }
}

.group-links li{
  margin: 15px;
  list-style: none;
  cursor: pointer;
  width: auto;
  display: flex;
}

.group-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.group-box:hover {
  transition: background-color 0s;
  background-color: #e9e9e9;
}

.search a{
  color: #808e9b;
}

.main-border {
  border: solid 1px #808e9b;
  border-radius: 25px;
  padding: 25px;
}

.icon{
  pointer-events: none;
}

/*CONTENT*/

.content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/*HEADER*/

.header{
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Mulish', sans-serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*FINDA CARDS*/
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.finda-container {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.finda-container {
  opacity: 1;
}

.finda-status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 5;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.finda-status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.finda_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.finda_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.finda-cards {
  flex-grow: 0.9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  padding-top: 0px;
}

.finda-card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90vw;
  max-width: 400px;
  height: 60vh;
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.finda-card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.finda-card img {
  max-width: 100%;
  pointer-events: none;
}

.finda-card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.finda-card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.finda-buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.finda-buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.finda-buttons button:focus {
  outline: 0;
}

.finda-buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
}
